<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="../css/batchQrcode.css">
<body>
<div class="header">
    <a href="../view/index.html">
    <div>
        <span class="headImageIcon1"></span>
        <span class="headImageIcon2"></span>
        <span class="headImageIcon3"></span>
        <span class="headImageIcon4"></span>
    </div>
    </a>
    <a href="../view/singleQrcode.html"><div class="singleQrcode"></div></a>
    <a href="../view/query.html"><div class="headerRight"></div></a>
</div>
<div class="content">
    <div class="enterSerialNumber">请输入序列号</div>
    <div class="inputProductNumber">
        <span class="leo">LE</span>
        <input type="text" class="productNumber" placeholder="产品型号">
        <input type="text" class="factoryYears" placeholder="生产日期">
        <input type="text" class="totalProductionNumber"  placeholder="产品起始编号">
        <span class="arrowIcon"></span>
        <input type="text" class="totalProductionEndNumber"  placeholder="产品结束编号">
    </div>
    <div class="prompt">请输入十五位产品序列号</div>
    <div id="qrCode"></div>
    <div class="buttons">
        <div class="cancel">取消</div>
        <div class="determine">确定</div>
    </div>
</div>
<div class="footer"></div>
</body>
<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../js/jquery.qrcode.min.js"></script>
<script type="text/javascript" src="../js/batchQrCode.js"></script>
</html>