<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="../css/index.css">
<body>
<div class="header">
    <div>
        <span class="headImageIcon1"></span>
        <span class="headImageIcon2"></span>
        <span class="headImageIcon3"></span>
        <span class="headImageIcon4"></span>
    </div>
</div>
<div class="content">
    <div class="contentHead">
        <div class="contentHead1"></div>
    </div>
    <div>
        <div class="contentHead2"></div>
    </div>
    <div class="contentFooter">
        <div class="leftImage">
            <div class="leftQrCode"></div>
        </div>
        <div class="rightNav">
            <a href="../view/query.html"><div class="inquire"></div></a>
            <a href="../view/singleQrcode.html"><div class="singleQrCode"></div></a>
            <a href="../view/batchQrCode.html"><div class="batchQrCode"></div></a>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../js/jquery.qrcode.min.js"></script>
<script type="text/javascript" src="../js/index.js"></script>
</html>