<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5">
    <title>验证结果</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
<div data-role="page" id="verifyResultPage">
    <div id="verifyResultContent">
        <p id="veyifyInfo">你的产品已被验证过！</p>
        <a href="index-mobile.html" id="verifyResultPageButton" class="ui-btn ui-corner-all" data-transition="pop">确定</a>
    </div>
</div>
</body>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</html>